<div class="background">
  <h1>Take Life One Cup At A Time</h1>
  <h2>Drink * Enjoy * Express</h2>
</div>


<!-- <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <% @recipes.each do |recipe| %>
    <div class="card">
      <%= recipe.title %>
      <%= recipe.ingredients %>
      <%= recipe.espresso_yourself %>
      <%= recipe.author %>
    </div>
  <% end %>
</div>
 -->