@import url('https://fonts.googleapis.com/css?family=Bad+Script|Fira+Sans+Condensed:100,200|Rancho');
@import "bootstrap";

.background {
  background: image_url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.top {
  background-color: #000000;
  padding-top: 25px;
}

.clear {
  clear: both;
}

.logo a {
  color: #9C8D87;
  font-family: 'Bad Script', cursive;
  font-size: 30px;
  text-decoration: none;
}

.links {
  text-align: right;
}

.links a {
  color: #9C8D87;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.btn {
  border-style: solid;
  border-color: #9C8D87;
}

h1 {
  color: #E3E3E3;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 70px;
  font-size: 50px;
}

h2 {
  color: #E3E3E3;
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-weight: 100;
  font-size: 25px;
  padding-top: 20px;
}

h3 {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: 100;
  text-decoration: uppercase;
}

h4 {
  color: #000000;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

p {
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: 100;
}



.card {
  background-color: #000;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 18px;
  color: #9C8D87;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-transform: uppercase;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #E3E3E3;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

.input.boolean label {
  margin-top: 5px;
  line-height: 44px;
}